html, body, div, span, applet, object, iframe,

h1, h2, h3, h4, h5, h6, p, blockquote, pre,

a, abbr, acronym, address, big, cite, code,

del, dfn, em, font, img, ins, kbd, q, s, samp,

small, strike, strong, sub, sup, tt, var,

b, u, i, center,

dl, dt, dd, ol, ul, li,

fieldset, form, label, legend,

table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 7 solid #dedede;
	outline: 0;
	font-size: 'ubunturegular';
	vertical-align: baseline;
	background: transparent;

}

body {

	line-height: 1;

}

ol, ul {

	list-style: none;

}

blockquote, q {

	quotes: none;

}

blockquote:before, blockquote:after,

q:before, q:after {

	content: '';

	content: none;

}



/* remember to define focus styles! */

:focus {

	outline: 0;

}



/* remember to highlight inserts somehow! */

ins {

	text-decoration: none;

}

del {

	text-decoration: line-through;

}



/* tables still need 'cellspacing="0"' in the markup */

table {

	border-collapse: collapse;

	border-spacing: 0;

}

.clear{
	clear: both;
	font-size: 100%;

}

/**** reset ****/

body{

	background: #f2f2f2;

	font-family: 'ubunturegular';

	color: #555555;

	font-size: 13px;

	line-height: 18px;

}

a{ text-decoration: none; color: #E55340; font-size: 16px; }

.container{ width: 1002px; margin: 0px auto; }

.top{ height: 125px; background: #fff; }

.logo{ width: 360px; height: 97px; float: left; margin-top: 10px; }

.top-right{ float: right; color: #343434; }

.row1{ font-size: 30px; text-align: right; margin: 19px 0 10px 0; color: #343434; }

.row1 img {position: relative; top: 8px; }

.row2{ font-size: 14px; text-align: right; }

.row2 .exo-light{ font-family: 'exoregular';  padding-right: 3px; color: #939393; }

.top2{ background: #343434; height: 45px; }

.menu{ float: right; height: 53px; margin-top: -8px; }

.menu li{ padding-top: 8px; float: left; height: 45px; position: relative;}

.menu li.selected{ background: #F7C51E ;}

.menu li a{ 

	font-size: 14px; color: #fff; display: block; 

	height: 45px; line-height: 45px; font-size: 14px; padding: 0 10px; 

	font-family: 'exoregular';

}

.menu a:hover{ background: #3f3f3f; }

.menu li.selected a{ background: #3f3f3f; }

.top3{ background: url("header_pattern.png") repeat #f8d406; height: 280px; color: #343434; }

/*

.top3 .container{ background: url(../images/header_shine.png) 50% 50% no-repeat;  }

*/

.left-part{ float: left; width: 490px;}

.yellow-header{ background: #fcea48; padding: 18px 25px; font-size: 24px; margin-top: 35px; }

.yellow-header-m{ background: #fcea48; padding: 18px 25px; font-size: 30px; margin-top: 35px; }

.yellow-desc{ margin: 15px 0 10px 40px; }

.red-button{ 

	color: #fff; font-size: 22px; display: block; width: 181px; height: 82px; 

	background: url("order_button.png"); line-height: 75px; 

	padding-left: 84px; margin-left: 32px; 

}

.devices{ background: #e9e9e9; padding-bottom: 15px; }

.dots{ text-align: center; background: url("dots.png") repeat-x 0 50%; line-height: 62px; min-height: 12px; }

.no-dots{ color: #525252; font-size: 24px; padding: 0 20px; background: #e9e9e9; }

.divices-imgs{ margin: 10px 0 0 6px; }

.item{ line-height: 29px; float: left; height: 115px; width: 162px; text-align: center; font-size: 35px; font-weight: normal; font-family: 'SteelfishEbRegular'; }

.item img{ padding-bottom: 5px; }



.content{margin-top: 25px; }

.content-left{ float: left; width: 380px;}

.content-right{ float: right; width: 588px; }

.box-header{font-size: 26px; height: 58px; line-height: 58px; background: #343434; color: #fff; }

.yellow-bg{ height: 100%; width: 8px; background: #F7C51E; float: left; }

.box-header-text{ float: left; padding-left: 24px; }

.box-content{ background: #e9e9e9; padding: 22px 22px; }

ul.grey-dots { padding-left: 18px; }

ul.grey-dots li{

	background: url("ng.png") left 5px no-repeat; 

	line-height: 20px;

	padding-left: 30px;

	padding-bottom: 10px;

}

ul.red{ padding-left: 10px; padding-top: 5px; }

ul.red li{

	background: url("ng2.png") left 8px no-repeat; 

	line-height: 22px;

	padding-left: 15px;

}

.bar{ background: #343434; height: 12px; width: 100%; margin-bottom: 20px; }

.footer{
	height: auto;
	background: url("footer.png");
	color: #747474;
	font-size: 12px;
	margin-top: 30px;
}

.footer-left{ float: left; margin-top: 58px; text-shadow: #000 1px 1px 1px; width: 722px; }

.footer-left a { color: #939393; }

.footer-reg{ text-shadow: #000 1px 1px 1px; margin-top: 15px}

.footer-reg a { font-size: 12px; color: #499FEE; }

.footer-left .inline{ margin-top: 8px;}

.inline li{ display: inline; padding-right: 15px; }

.footer-right{ float: right; color: #a9a9a9; margin-top: 50px; }

.footer-right img {padding-right: 8px; }

.footer-right .exo-bold{ font-size: 30px; }

.footer-right .exo-light{ font-size: 24px; }

.frow1{}

.frow1 img{ position: relative; top: 4px; }

.frow2 img{ position: relative; top: 8px; }

.frow2{}

.frow2 a{ color: #a9a9a9; }



li:hover .sub{ display: block; }

.sub{ display: none; position: absolute; top: 53px; left: -110px; background: #3f3f3f; border-bottom: 6px solid #525252; padding: 3px 0px 0px 5px; width: 337px; }

.sub li{ float: left; width: 157px; padding-right: 11px; height: 26px; padding-top: 0; }

.sub li a{ display: block; font-size: 12px; color: #fff; line-height: 26px; height: 26px; border-bottom: 1px solid #535353; }

.sub li a:hover, .sub li a.selected{ color: #F7C51E; background: none; }



.top20{ margin-top: 20px; }

.box-comments{ padding: 4px 0 0 0; }

.comment{ padding: 14px 22px; border-bottom: 2px solid #f2f2f2;  }

.comment-content{ text-shadow: #fff 1px 1px 1px; padding-top: 12px; }

.data, .nick{ color: #fff; height: 30px; line-height: 30px; padding: 0 12px; float: left;  }

.data{ background: #e2513e; }

.nick{ background: #f55d49; font-style: italic; }

.map{ width: 576px; height: 340px; border: 7px solid #dedede; margin-bottom: 10px; overflow: hidden; }

.big{ font-size: 16px; font-weight: bold; padding: 20px 0 10px; }



.sg-left-part{ float: left; width: 511px; }

.sg-right-part{ width: 450px; float: right; }

.sg-right-part .ul1 { float: left; width: 170px;; }

.sg-right-part .ul2{ float: right; width: 236px;; }



.content-left-sg{ width: 589px; }

.content-right-sg{ width: 379px; }

.arr-dark{ width: 160px; float: left; margin-right: 15px; }

.arr-dark li{ border-bottom: 1px solid #cfcfcf; background: url("ng3.png") no-repeat 5px 13px; }

.arr-dark li a{ color: #555555; padding-left: 20px; height: 35px; line-height: 35px; font-size: 16px; display: block; }

.arr-dark li a:hover{ color: #E2513E; }

.map-container{ position: relative; }

.map-img{ position: absolute; top: -37px; right: 28px; }



.contact-left-part{ font-size: 36px; width: 444px;  }

.questions{ padding-right: 20px; font-family: 'exolight'; text-align: right; margin: 80px 0 0 0; line-height: 55px; }

.contact-left-part .yellow-header{ font-size: 36px; margin: 0; font-family: 'exobold'; text-align: right; }

.right-part{ float: left; margin-left: 90px; }

.right-part img { float: left; padding-right: 12px; }

.trow1{ padding-top: 61px; }

.trow2{ padding-top: 13px; }

.row-in{ color: #343434; float: left; }

.row-in a{ color: #343434; font-size: 30px;}

.row-in1{ font-size: 30px; line-height: 31px; }

.row-in2{ font-size: 14px; }

.light{ color: #939393; }

.devices-contact{ text-shadow: #fff 1px 1px 1px; padding: 10px 0 25px; }

.box-contact{ padding-top: 0; }

.form-header{ padding-top: 15px; padding-bottom: 7px; font-size: 16px; line-height: 26px; border-bottom: 1px solid #cbcbcb; }

.form-header .number{ font-size: 14px; color: #fff; padding: 4px 7px; background: #F7C51E;  }

.header-text{ padding-left: 7px; }

.form-row{ padding-top: 17px; position: relative;  }

*:first-child+html .form-row {

    padding-top: 10px; 

}

.form-field{ float: left; margin-right: 13px; }

label{ font-family: 'exoregular'; font-size: 16px; line-height: 20px; }

.itext{ margin-top: 8px; padding: 10px 10px; border: none; height: 23px; width: 100%; background: url("input-bg.png") left bottom repeat-x #f3f3f3;  }

input, textarea { margin-top: 8px;  padding: 10px 10px; color: #929292; font-family: 'ubunturegular'; font-size: 14px; }

textarea{ border: none; background: url("input-bg.png") left bottom repeat-x #f3f3f3; height: 137px; width: 522px; }

.width2{ width: 264px; }

.width2 .itext{ width: 244px; }

.width3{ width: 110px; }

.width3 .itext{ width: 90px; }

.width33{ width: 170px; }

.width33 .itext{ width: 150px; }

.last-field{ margin-right: 0; }

.order-button{ width: 227px; }

.button{

	height: 46px; 

    background: url("order-button.png") no-repeat;

    color: #FFFFFF;

    display: block;

    font-size: 22px;

    line-height: 40px;

	text-align: center;

	padding-right: 10px;

}

.send-button{ width: 120px; background: url("send-button.png") no-repeat; }

.content-right-sg .itext{ width: 312px; }

.content-right-sg  textarea{ width: 312px; height: 290px; }

.content-contact .box-content { height: 345px; } 

.ui-datepicker-trigger{ position: absolute;  right: 139px; top: 47px; cursor: pointer; }





h1{ font-size: 26px; font-weight: normal; line-height: 32px; margin-bottom: 10px; font-family: 'exobold'; }

.exo-light{ font-family: 'exothin'; }

.exo-regular{  font-family: 'exoregular'; }

.exo-bold{ font-family: 'exobold'; }

.ubuntu-bold{ font-family: 'ubuntubold' }

.ubuntu-normal{ font-family: 'ubunturegular'; }



/* fonts */

@font-face {

    font-family: 'exothin';

    src: url("exo-thin-webfont.eot");

    src: url("exo-thin-webfont.eot") format('embedded-opentype'),

         url("exo-thin-webfont.woff") format('woff'),

         url("exo-thin-webfont.ttf") format('truetype');

    font-weight: normal;

    font-style: normal;



}

@font-face {

    font-family: 'ubuntubold';

    src: url("ubuntu-b-webfont.eot");

    src: url("ubuntu-b-webfont.eot") format('embedded-opentype'),

         url("ubuntu-b-webfont.woff") format('woff'),

         url("ubuntu-b-webfont.ttf") format('truetype');

    font-weight: normal;

    font-style: normal;

}

@font-face {

    font-family: 'exoregular';

    src: url("exo-regular-webfont.eot");

    src: url("exo-regular-webfont.eot") format('embedded-opentype'),

         url("exo-regular-webfont.woff") format('woff'),

         url("exo-regular-webfont.ttf") format('truetype');

    font-weight: normal;

    font-style: normal;

}

@font-face {

    font-family: 'ubunturegular';

    src: url("ubuntu-r-webfont.eot");

    src: url("ubuntu-r-webfont.eot") format('embedded-opentype'),

         url("ubuntu-r-webfont.woff") format('woff'),

         url("ubuntu-r-webfont.ttf") format('truetype');

    font-weight: normal;

    font-style: normal;

}

@font-face {

    font-family: 'exobold';

    src: url("exo-bold-webfont.eot");

    src: url("exo-bold-webfont.eot") format('embedded-opentype'),

         url("exo-bold-webfont.woff") format('woff'),

         url("exo-bold-webfont.ttf") format('truetype');

    font-weight: normal;

    font-style: normal;

}

@font-face {

    font-family: 'SteelfishEbRegular';

    src: url("steelfish_eb-webfont.eot");

    src: url("steelfish_eb-webfont.eot") format('embedded-opentype'),

         url("steelfish_eb-webfont.woff") format('woff'),

         url("steelfish_eb-webfont.ttf") format('truetype'),

         url("steelfish_eb-webfont.svg") format('svg');

    font-weight: normal;

    font-style: normal;



}

@font-face {

    font-family: 'exolight';

    src: url("exo-light-webfont.eot");

    src: url("exo-light-webfont.eot") format('embedded-opentype'),

         url("exo-light-webfont.woff") format('woff'),

         url("exo-light-webfont.ttf") format('truetype');

    font-weight: normal;

    font-style: normal;



}
.shareBox2 {
    position: fixed;
    right: 5px;
    top: 360px;
}

#producenci {
    padding-left: 35px;
}
#producenci a {
    color: #D31F24;
    display: block;
    float: left;
    font-weight: bold;
    margin: 15px 10px;
    padding-bottom: 4px;
    text-align: center;
}
#producenci a:hover {
    color: #000000;
    opacity: 0.6;
    text-decoration: none;
}
#producenci a span {
    background-color: #FFFFFF;
    background-position: center center;
    background-repeat: no-repeat;
    border: 3px solid #EEEEEE;
    display: block;
    height: 88px;
    margin-bottom: 4px;
    padding: 2px;
    width: 150px;
}
#producenci a:hover span {
    border: 3px solid #000000;
}
#producenci a.active span {
    border: 3px solid #D31F24;
}


.mobile-menu, #menu{ display: none; }
.mobile-menu:hover{
    opacity: 0.8;
}
#panel{ background: #fff; }
.hide-normal, .contact-sec{ display: none; }

@media all and (max-width: 1000px) {

    .message{
        padding: 20px; line-height: 20px !important;
    }
    .contact-sec a{
        color: #fff; font-size: 14px;
    }
    .contact-sec{
        display: block;
        background: #343434; text-align: center; color: #fff;
        padding: 10px; font-size: 14px; line-height: 20px;
    }
    .contact-sec-header{
        font-size: 18px; padding-bottom: 10px;
    }
    .container{ width: 98%; }
    .divices-imgs .item{ width: 16.5%; font-size: 26px; }
    .content-left{ width: 100%; clear: both; }
    .content-right{ width: 98%; clear: both; padding: 1%; }
    .content-right-sg{ padding: 0; width: 100%; }
    #menu .menu-list .hide-mobile, .top2, .shareBox, .top-right, .hide-mobile, .top3, .map-img, .footer-left, .footer-right, #ck_dsclr{ display: none; }
    .arr-dark{ width: 48%; margin-right: 2%; }
    .footer-reg{ padding-top: 30px; }
    .logo{ float: right; }
    .mobile-menu{ cursor: pointer; display: block; float: left; margin: 20px  0 0 2%; background: none; padding: 0; border: none; }

    .hide-normal{ display: block; }

    #menu.slideout-menu{ display:block; }
    .slideout-menu {
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 0;
        width: 256px;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        display: none;
    }

    .slideout-panel {
        position: relative;
        z-index: 1;
    }

    .slideout-open,
    .slideout-open body,
    .slideout-open .slideout-panel {
        overflow: hidden;
    }

    .slideout-open .slideout-menu {
        display: block;
    }

    .menu-list li a {
        display: block;
        padding: 20px;
        border-bottom: 1px solid #525252;
    }
    .menu-list li {
        text-align: center;
        display: block;
        background: #6b6b6b;
        color: white;
    }

    .main {
        background: #575759;
        text-transform: uppercase;
        color: white;
    }

    #menu .head {
        background: #F7C51E;
        text-transform: uppercase; color: #000;
    }


    .menu-list a {
        color: white;
        text-decoration: none;
    }

    #menu .sub {
        display: block; position: relative; top: 0; left: 0; width: auto; padding: 0;
        border: none;
    }
    #menu .sub  li {
        float: none; width: auto; display: block; padding: 0; height: auto; border: none;
    }

    .city-page .content-left{ display: none; }
    .map { width: 96%; }

    .devices .sg-left-part, .devices .sg-right-part{ float: none; width: 98%; padding: 1%; }
    .sg-right-part .ul1, .sg-right-part .ul2{
        width: 45%; margin-left: 1%; padding: 0;
    }
    .devices-contact{ padding: 1%; text-align: center; }
    .logo { max-width: 70%; height: auto; padding-right: 10px; }
    .logo img { width: 100%; }
    .top{ height: auto; padding-bottom: 20px; background: #fff; }
    .last-field{ margin-top: 10px !important; }
    .form-field{ float: none; }
    .width2, .width3, .width33{ width: 100%; margin: 0; padding: 0; }
    .width3, .width33{ margin-top: 10px; }
    .width2 .itext, .width3 .itext, .width33 .itext, .content-right-sg .itext { width: 98%; padding-left: 1%; padding-right: 1%;  }
    textarea, .content-right-sg textarea{ width: 98%; padding: 1%; }
    .width3 label, .width33 label, .box-contact label{ width: 98%; display: block; }

    .ui-datepicker-trigger {
        right: 0;
        top: -41px;
    }
    .content-contact .box-content{
        height: auto;
    }

    .shareBox2 {
        position: fixed;
        right: 5px;
        top: auto;
        bottom: 70px;
    }
    .comment {
        padding: 14px 5px;
    }
}
@media all and (max-width: 500px) {
    .divices-imgs .item{ font-size: 18px; }
    .divices-imgs .item img{ width: 80%; }
    .no-dots{ font-size: 15px; }

    .arr-dark li a {
        font-size: 13px;
    }
    .box-content{
        padding: 12px;
    }
    .box-header-text{
        padding-left: 12px;
    }


}

.item-serwis-gwarancyjny {
    float: left;
    font-family: "ubunturegular";
    font-size: 12px;
    font-weight: normal;
    height: 115px;
    line-height: 15px;
    text-align: left;
    width: 182px;
}

.textpage h4.opener {
    background: rgba(0, 0, 0, 0) url("close.png") no-repeat scroll 100% 5px;
    border-bottom: 1px solid #f0f0f0;
    cursor: pointer;
    font-size: 14px;
    margin-bottom: 0;
    padding-bottom: 10px;
    padding-right: 30px;
    padding-top: 10px;
}
.textpage h4 {
    font-family: "MyriadPro-Bold";
    line-height: 15px;
    margin-bottom: 10px;
}

.textpage h4.more {
    background: rgba(0, 0, 0, 0) url("more.png") no-repeat scroll 100% 5px;
    border-bottom: 1px solid #f0f0f0;
    cursor: pointer;
    font-size: 14px;
	color: #555555;
    margin-bottom: 0;
    padding-bottom: 10px;
    padding-right: 30px;
    padding-top: 10px;
	text-align: right;
}

.top-promo {
    background: #343434 none repeat scroll 0 0;
    height: 20px;
    position: fixed;
    width: 100%;
    z-index: 100;
}
